#Practical 4 - Operations on Tuple
##Aditi Mishra
###25070123175
###ENTC A2

In [2]:
#Python Tuples
#Access Tuples Items

thistuple = ("Cricket", "Football", "Basketball","Volleyball")
print(thistuple[1])

Football

In [3]:
#Tuple doesnt allow changes

Sports = ("Cricket", "Football", "Basketball","Volleyball")
Sports[1]= "Tennis"
print(Sports)

TypeError: 'tuple' object does not support item assignment

In [4]:
#Addition of tupples
t1 = (8,9,10)
t2 = (4,5,6)
t3 = t1+t2
print(t3)

(8, 9, 10, 4, 5, 6)

In [5]:
#Add tuple to a tuple
Sports = ("Cricket", "Football", "Basketball","Volleyball")
y = ("Tennis",)
Sports += y

print(Sports)

('Cricket', 'Football', 'Basketball', 'Volleyball', 'Tennis')

In [7]:
#Address verification for tuple
Sports = ("Cricket", "Football", "Basketball","Volleyball")
print("Before:",id(Sports))
y= ("Tennis",)
Sports += y
print("After:",id(Sports))

Before: 135709896767376
After: 135709919115392

In [8]:
#Address verification for lists
Sports = ["Cricket", "Football", "Basketball","Volleyball"]
print("Before:",id(Sports))
y= ["Tennis"]
Sports += y
print("After:",id(Sports))

Before: 135709909107520
After: 135709909107520

In [19]:
#Practice problem 1

data = ("Applied maths", 84, "B")
print("Subject :", data[0])
print("Marks :", data[1])
print("Grade :", data[2])
if (data [1] > 75):
  print("Distinction")

Subject : Applied maths
Marks : 84
Grade : B
Distinction

In [21]:
#Practice Problem 2

Attendance = ("A","P,","P","A","P","P","A")
print("Total days present :", Attendance.count("P"))
print("Total days absent :", Attendance.count("A"))
if "A"  in Attendance:
  print("Student was absent atleast once")

Total days present : 3
Total days absent : 3
Student was absent atleast once