#Practical 3 - Study of list and various operations on it
##Aditi Mishra
###25070123175
###ENTC A2

In [ ]:
##Python lists
thislist = ["north", "south", "east","west"]
print(thislist)

['north', 'south', 'east', 'west']

In [ ]:
#Allow duplicates
thislist = ["north", "south", "east","west","north", "south-east"]
print(thislist)

['north', 'south', 'east', 'west', 'north', 'south-east']

In [ ]:
#List length
thislist = [ 1,2,3,4,5,6,7,8,9,10, "hey", "hi", "hello"]
print(len(thislist))

13

In [ ]:
#A list with strings, integers and boolean values
list = ["north", "south", 1,3,5, True, False]

In [ ]:
#Acess Items
list = ["north", "south", 1,3,5, True, False]
print(list[5])
print(list[1])

True
south

In [ ]:
#Reverse/Negetive indexing
list = ["north", "south", 1,3,5, True, False]
print(list[-1])
print(list[-7])

False
north

In [ ]:
#Sliciing
vegetables = ["carrots", "raddish", "onion", "potatoes", "spinach", "beetroot","cabbage"]
print(vegetables[1:5])
print(vegetables[:4])
print(vegetables[-3:])

['raddish', 'onion', 'potatoes', 'spinach']
['carrots', 'raddish', 'onion', 'potatoes']
['spinach', 'beetroot', 'cabbage']

In [ ]:
#Change Item Value
vegetables = ["carrots", "raddish", "onion", "potatoes", "spinach", "beetroot","cabbage"]
vegetables[4] = "cauliflower"
vegetables[0]= "brinjal"
print(vegetables)

['brinjal', 'raddish', 'onion', 'potatoes', 'cauliflower', 'beetroot', 'cabbage']

In [ ]:
#Append Items
vegetables = ["carrots", "raddish", "onion", "potatoes", "spinach"]
vegetables.append("drumstick")
print(vegetables)

['carrots', 'raddish', 'onion', 'potatoes', 'spinach', 'drumstick']

In [ ]:
#Insert Items
vegetables = ["carrots", "raddish", "onion", "potatoes", "spinach"]
vegetables.insert(3, "brinjal")
print(vegetables)

['carrots', 'raddish', 'onion', 'brinjal', 'potatoes', 'spinach']

In [ ]:
#Extend list
vegetables = ["carrots", "raddish", "onion", "potatoes", "spinach"]
fruits = ["apple", "banana", "cherry"]
vegetables.extend(fruits)
print(vegetables)

['carrots', 'raddish', 'onion', 'potatoes', 'spinach', 'apple', 'banana', 'cherry']

In [ ]:
#Check status
vegetables = ["carrots", "raddish", "onion", "potatoes", "spinach"]
"tomatoes" in vegetables

False

In [ ]:
#Repetition
list = ('-Symbi-') *30
print(list)

-Symbi--Symbi--Symbi--Symbi--Symbi--Symbi--Symbi--Symbi--Symbi--Symbi--Symbi--Symbi--Symbi--Symbi--Symbi--Symbi--Symbi--Symbi--Symbi--Symbi--Symbi--Symbi--Symbi--Symbi--Symbi--Symbi--Symbi--Symbi--Symbi--Symbi-

In [ ]:
#Practice problem 1
numbers = [10,20,30,40,50]

print("Elements from index 1 to 3:")
print(numbers[1:4],"\n")

print("First 3 elements:")
print(numbers[ :3],"\n")

print("Elements from index 2 onwads:")
print(numbers[2:],"\n")

print("All elements in the list:")
print(numbers[:] ,"\n")

Elements from index 1 to 3:
[20, 30, 40]

First 3 elements:
[10, 20, 30]

Elements from index 2 onwads:
[30, 40, 50]

All elements in the list:
[10, 20, 30, 40, 50]

In [ ]:
#Practice problem 2

StudentMarks = [80,88,95,98,76,68,54,92,56,87,74,84]

print("Highest marks = ", max(StudentMarks))
print("Lowest marks = ", min(StudentMarks))
print("Average marks = ", sum(StudentMarks)/len(StudentMarks))
StudentMarks.sort()
print("Sorted marks = ",StudentMarks)

Highest marks =  98
Lowest marks =  54
Average marks =  79.33333333333333
Sorted marks =  [54, 56, 68, 74, 76, 80, 84, 87, 88, 92, 95, 98]

In [10]:
#Practice problem 3
Grocery = ["Flour","Lentils","Tissues","Fruits","Vegetables","Eggs","Juice","Dog food","Shampoo","Biscuits","Milk"]
extraItems = ["Detergent","Soaps","Toothpaste","Brush"]
Grocery.extend(extraItems)
print(Grocery,"\n")
Grocery.remove("Tissues")
print("Final grocery list:", Grocery,"\n")

['Flour', 'Lentils', 'Tissues', 'Fruits', 'Vegetables', 'Eggs', 'Juice', 'Dog food', 'Shampoo', 'Biscuits', 'Milk', 'Detergent', 'Soaps', 'Toothpaste', 'Brush']

Final grocery list: ['Flour', 'Lentils', 'Fruits', 'Vegetables', 'Eggs', 'Juice', 'Dog food', 'Shampoo', 'Biscuits', 'Milk', 'Detergent', 'Soaps', 'Toothpaste', 'Brush']

In [17]:
#Practice problem 4
Contacts = ["Lehalyaa", "Shreya", "Ayush", "Aditi","Aditya","Arya","Bedang","Tanvi","Jay"]
Contacts.append("Kushal")
print ("Updated conatct list:",Contacts,"\n")
Contacts.remove("Jay")
print ("Final conatct list:",Contacts,"\n")
Contacts.sort()
print ("Sorted conatct list:",Contacts,"\n")

Updated conatct list: ['Lehalyaa', 'Shreya', 'Ayush', 'Aditi', 'Aditya', 'Arya', 'Bedang', 'Tanvi', 'Jay', 'Kushal']

Final conatct list: ['Lehalyaa', 'Shreya', 'Ayush', 'Aditi', 'Aditya', 'Arya', 'Bedang', 'Tanvi', 'Kushal']

Sorted conatct list: ['Aditi', 'Aditya', 'Arya', 'Ayush', 'Bedang', 'Kushal', 'Lehalyaa', 'Shreya', 'Tanvi']

In [22]:
#Practice problem 5
Temperature = [18,34,23,8,31,28,29,22,17,32]
print("Temperatures for the first five days:", Temperature[0:5],"\n")
print("Temperatures for the last five days:", Temperature[-5:],"\n")
print("Maximum temperature:", max(Temperature),"\n")
print("Minimum temperature:", min(Temperature),"\n")
print("Average temperature:", sum(Temperature)/len(Temperature),"\n")

Temperatures for the first five days: [18, 34, 23, 8, 31]

Temperatures for the last five days: [28, 29, 22, 17, 32]

Maximum temperature: 34

Minimum temperature: 8

Average temperature: 24.2