#Experiment 7 -Study of loops in Python
###Aditi Mishra
###25070123175
###ENTC A2

###While loop

In [1]:
#Print numbers
i = 0
while(i < 6):
  print(i)
  i += 1

0
1
2
3
4
5

In [2]:
#Print numbers according to User Input

num = int(input("Enter number of Iterations: "))

i = 1
while(i <= num):
  print(i)
  i += 1

Enter number of Iterations: 12
1
2
3
4
5
6
7
8
9
10
11
12

In [3]:
#Factorial of a Number

num = int(input("Enter the number: "))
i = num
fact = 1
while(i > 0):
  fact = fact * i
  i -= 1
print(fact)

Enter the number: 8
40320

In [4]:
#Fibonacci Series using while loop

num = int(input("Enter the number of iterations: "))
n1 = 0
n2 = 1
print(n1, n2 , end = ' ')
num = num - 2

while(num > 0):
  n3 = n1 + n2
  print(n3, end = ' ')
  n1 = n2
  n2 = n3
  num -= 1

Enter the number of iterations: 11
0 1 1 2 3 5 8 13 21 34 55

In [5]:
#Reverse a Number

num = int(input("Enter the number to be reversed: "))
reverse = 0

while (num > 0):
  remainder = num % 10
  reverse = (reverse * 10) + remainder
  num = num // 10
print(reverse)

Enter the number to be reversed: 8676754564
4654576768

In [6]:
#Check Palindrome or not

text = input("Enter the String: ")
text = text.lower()
text1 = text[::-1]

if (text == text1):
  print("It is a Palindrome")
else:
  print("It is not a Palindrome")

Enter the String: Aditi
It is not a Palindrome

In [7]:
#To \Check Palindrome or not using While loop

text = input("Enter the String: ")
text = text.lower()
result = True
i = 0
j = len(text) - 1

while(i < j):

  if(text[i] != text[j]):
    result = False
    break
  else:
     i += 1
     j -=1

if(result):
  print("It is a Palindrome")
else:
  print("It is not a Palindrome")

Enter the String: 1234
It is not a Palindrome

###Break statement

In [8]:
#Exit the loop when i is 3

i = 0
while(i <= 5):
  print(i)
  i += 1
  if(i == 3):
    break

0
1
2

In [11]:
# Search an element in a list

s = [176, 175, 174, 173, 172, 171, 169, 168, 167, 168, 166, 165]

prn = int(input("Enter a 3 digit roll number: "))
i = 0
found = False

while(i < len(s)):
  if(prn == s[i]):
    print("Element found at index ", i + 1)
    found = True
    break
  i += 1

if not found:
  print("Element not Found")

Enter a 3 digit roll number: 175
Element found at index  2

###While continue
####continue skips the remaining statements of the current iteration and jumps back to while condition

In [ ]:
#Print numbers from 1 to 10 (skipping 5)

i = 1
while i <= 10:
    if i == 5:
        i += 1
        continue
    print(i)
    i +=1

1
2
3
4
6
7
8
9
10

In [ ]:
#Print only odd numbers from 1 to 10

i = 1
while i <= 10:
    if i % 2 == 0:
        i += 1
        continue
    print(i)
    i +=1

1
3
5
7
9

###For loops
####A 'for' loop is used to repeat a block of code for each element in sequence (like range,list,string)

In [ ]:
#Print numbers from 1 to 5

for i in range(1,6):
    print(i)

1
2
3
4
5

In [ ]:
#Print even numbers from 1 to 10
for i in range(2,11,2):
    if i % 2 != 0:
        continue
    print(i, end= ' ')

2 4 6 8 10

In [ ]:
#Sum of first N numbers
n = int(input("Enter a number: "))
sum = 0

for i in range(1,n+1):
    sum += i

print("Sum of first", n, "numbers is", sum)

Enter a number: 10
Sum of first 10 numbers is 55

In [ ]:
#Nested for loop
for i in range(1,4):
    for j in range(1,4):
        print(i,j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [ ]:
#3x3 matrix display
A = [[1,2,3],
     [4,5,6],
     [7,8,9]]
for i in range(3):
    for j in range(3):
        print(A[i][j], end = ' ')
    print()

1 2 3
4 5 6
7 8 9

In [ ]:
#Multiplication of two 3x3 matrices
A = [[1,2,3],
     [4,5,6],
     [1,2,1]]

B = [[1,1,1],
     [6,5,4],
     [3,2,1]]

result = [[0,0,0],
          [0,0,0],
          [0,0,0]]

for i  in range(3):
  for j in range(3):
    for k in range(3):
        result[i][j] += A[i][k]*B[k][j]

print("Product of matrices:")
for row in result:
  print(row)

Product of matrices:
[22, 17, 12]
[52, 41, 30]
[16, 13, 10]

In [ ]:
#Problem statement - Write a python program to accept three digits and print all possible combinations
d1 = 1
d2 = 2
d3 = 3
d = [d1,d2,d3]
for i in range(0,3):
    for j in range(0,3):
        for k in range(0,3):
          if i!=j and j!=k and i!=k:
            print(d[i],d[j],d[k])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

In [ ]:
#Problem statement - Write a code to check whether the entered number is an Armstrong number
num = input("Enter a number:")
len((num))
print("Length of entered number - ",len(num))
sum = 0
for i in num:
  sum += int(i)**len(num)
if sum == int(num):
  print("Entered number is an Armstrong number")
else:
  print("Entered number is not an Armstrong number")

Enter a number:1634
Length of entered number -  4
Entered number is an Armstrong number

In [ ]:
#Find prime number in given entered range

lower = int(input("Enter lower limit: "))
upper = int(input("Enter upper limit: "))

for i in range (lower , upper +1):
  for j in range(2,i):
    if (i % j == 0):
      break
  else:
    print(i)

Enter lower limit: 10
Enter upper limit: 100
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
#Problem statement - Inverted pyramid
n = 7
for i in range(n):
  print(i*' ', (n-i)*' $')

  $ $ $ $ $ $ $
   $ $ $ $ $ $
    $ $ $ $ $
     $ $ $ $
      $ $ $
       $ $
        $

In [ ]:
#Problem statement - Pyramid
n = 7
for i in range(n):
  print((n-i)*' ',(i+1) *' $')

         $
        $ $
       $ $ $
      $ $ $ $
     $ $ $ $ $
    $ $ $ $ $ $
   $ $ $ $ $ $ $

In [ ]:
#Problem statement - Floyd's triangle
n = int(input("Enter number of rows: "))
num = 1
for i in range (1, n+1):
  for j in range (1, i+1):
    print(num, end = ' ')
    num +=1
  print()

Enter number of rows: 10
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31 32 33 34 35 36
37 38 39 40 41 42 43 44 45
46 47 48 49 50 51 52 53 54 55

In [ ]:
#Problem statement - Inverted right angled triangle
for i in range (7,0,-1):
  print("*" *i)

*******
******
*****
****
***
**
*

In [14]:
#Problem statement - Diamond
n = 7
for i in range(n):
  print((n-i) * ' ',(i+1) * '$ ')
for i in range(n):
  print(i * ' ',(n-i) * ' $')

        $
       $ $
      $ $ $
     $ $ $ $
    $ $ $ $ $
   $ $ $ $ $ $
  $ $ $ $ $ $ $
  $ $ $ $ $ $ $
   $ $ $ $ $ $
    $ $ $ $ $
     $ $ $ $
      $ $ $
       $ $
        $