#Practical 5 - Sets and Dictionaries in python
##Aditi Mishra
###25070123175
###ENTC A2

##Set and its operations in python

In [ ]:
#Creation of set
thisset = {"Tennis","Cricket","Football"}
print(thisset)

{'Tennis', 'Cricket', 'Football'}

In [ ]:
#Duplicates not allowed
thisset = {"Tennis","Cricket","Football","Tennis"}
print(thisset)

{'Tennis', 'Cricket', 'Football'}

In [ ]:
#The values True and 1 are considered the same value in sets
thisset = {"Tennis","Cricket","Football",True,1,2}
print(thisset)

{True, 2, 'Football', 'Tennis', 'Cricket'}

In [ ]:
#A set with strings, integers and boolean values
setA = {"Rahul", 23, True, 567, "Female"}
setA

{23, 567, 'Female', 'Rahul', True}

In [ ]:
#To check membership
thisset = {"Tennis","Cricket","Football", "Pool", "Swimming","Golf"}
print("Tennis" in thisset)
print("Pickleball" in thisset)

True
False

In [ ]:
#Once a set is created, you can't replace its items but can add new items
thisset = {"Tennis","Cricket","Football", "Pool", "Swimming","Golf"}
thisset.add("Pickleball")
print(thisset)

{'Golf', 'Football', 'Pickleball', 'Tennis', 'Pool', 'Cricket', 'Swimming'}

In [ ]:
#Remove items
thisset = {"Tennis","Cricket","Football", "Pool", "Swimming","Golf"}
thisset.remove("Swimming")
print(thisset)

{'Golf', 'Football', 'Tennis', 'Pool', 'Cricket'}

In [ ]:
#Set operations
A = {3,4,5,6,7,8}
B = {5,6,7,8,9,10}
print("Union:", A|B)
print("Intersection", A&B)
print("Difference", A-B)
print("Symmetric Difference", A^B)

Union: {3, 4, 5, 6, 7, 8, 9, 10}
Intersection {8, 5, 6, 7}
Difference {3, 4}
Symmetric Difference {3, 4, 9, 10}

In [ ]:
#Frozen set
X = frozenset({"Monday","Tuesday","Wednesday","Thursday","Friday"})
print(X)
print(type(X))

frozenset({'Monday', 'Thursday', 'Wednesday', 'Tuesday', 'Friday'})
<class 'frozenset'>

In [ ]:
#Addition and removal of elements are not allowed in Frozenset
X = frozenset({"Monday","Tuesday","Wednesday","Thursday","Friday"})
X.add("Saturday")
X.remove("Monday")

AttributeError: 'frozenset' object has no attribute 'add'

In [ ]:
#Problem Statement 1 - A college event has a list of students who registered multiple times by mistake. Write a program using set to store participant Names and display only unique participants

Participants = ["Aditi","Lehalyaa","Ayush","Shreyash","Arya","Arya","Siddhant","Ayush","Nilay","Tanisha"]
unique_participants = set(Participants)
print("Unique Participants registered - \n", unique_participants)

Unique Participants registered -
 {'Siddhant', 'Shreyash', 'Ayush', 'Arya', 'Tanisha', 'Nilay', 'Lehalyaa', 'Aditi'}

In [ ]:
#Problem statement 2 - 3 students choose elective subjects. Find the common subjects chosen by all studnets using set operations. (Concept used - Set Intersection (&))

Student1 = {"Dcld", "Applied maths", "Python", "English"}
Student2 = {"Electronics physics", "Applied maths", "Python", "German"}
Student3 = {"Semiconductor chemistry", "Calculus", "Python", "French"}
print("Common elective -", Student1&Student2&Student3)

Common elective - {'Python'}

In [ ]:
#Problem statement 3 - One set contains students in the cricket club, another in football club. Find students who are : 1) In both clubs, 2)In only one club (Concept used - Intersection, Symmetric difference)

Football = {"Ansh", "Bharat", "Shawn","Harry","Rahul","Aman"}
Cricket = {"Lehalyaa","Aadit","Aman","Arya","Sneha"}
print("Students in both clubs - ", Football&Cricket)
print("Students in only one club - ", Football^Cricket)

Students in both clubs -  {'Aman'}
Students in only one club -  {'Rahul', 'Aadit', 'Harry', 'Lehalyaa', 'Sneha', 'Ansh', 'Arya', 'Bharat', 'Shawn'}

In [ ]:
#Problem 4 - Given a set of all students and a set of present students, find the adsent students (Concept used - Set difference (-))

Students = {"Aditi","Lehalyaa","Ayush","Shreyash","Arya","Sid", "Priya"}
Present = {"Priya","Lehalyaa","Ayush","Shreyash","Arya"}
print("Absent students - ", Students-Present)

Absent students -  {'Sid', 'Aditi'}

In [ ]:
#Problem 5 - A set contains valid course codes. Remove a discontinued course code from the set (Concept used - remove() / discard())

Courses = {"ECE101","ECE102","ECE103","ECE104","ECE105", "ECE106", "ECE108"}
Courses.remove("ECE108")
print("Valid Courses - \n", Courses)

Valid Courses -
 {'ECE104', 'ECE103', 'ECE105', 'ECE102', 'ECE101', 'ECE106'}

##Dictionaries and its operations in python

In [ ]:
#Creating a dictionary
thisdict = {
  "brand": "Apple",
  "model": "Iphone 16",
  "year": 2024
}
thisdict

{'brand': 'Apple', 'model': 'Iphone 16', 'year': 2025}

In [ ]:
#Retriving value from dictionary
thisdict = {
  "brand": "Apple",
  "model": "Iphone 16",
  "year": 2024
}
x = thisdict["model"]
print("Model of the phone is",x)

Model of the phone is Iphone 16

In [ ]:
#Dictionary takes the lastest value for the key (It does not allow duplication)
thisdict = {
  "brand": "Apple",
  "model": "Iphone 16",
  "year": 2024,
  "year": 2025
}
print(thisdict)

{'brand': 'Apple', 'model': 'Iphone 16', 'year': 2025}

In [ ]:
#Length of key value pairs
print ("Number of key value pairs in the given dictionary is -",len(thisdict))

Number of key value pairs in the given dictionary is - 3

In [ ]:
#Changing/Adding key value in dictionary
phone = {
  "brand": "Apple",
  "model": "Iphone",
  "year": 2024
}
phone["colour"] = "Ultramarine",
x = phone.values()
print(x) #after change (only printing values)

dict_values(['Apple', 'Iphone', 2024, ('Ultramarine',)])

In [ ]:
#Retrival of values
PHONE = {
  "brand": "Apple",
  "model": "Iphone",
  "year": 2024
}
print("model", PHONE["model"])

model Iphone

In [14]:
#Adding and updating elements
stu_data = {

"Name": "ABCD", "Roll number": 257, "Batch": "B", "branch": "Entc" }
stu_data["Year"] = 2025

stu_data["branch"] = "Mechanical"

print("Updated Student data:", stu_data, "\n")

Updated Student data: {'Name': 'ABCD', 'Roll number': 257, 'Batch': 'B', 'branch': 'Mechanical', 'Year': 2025}

In [16]:
#Removing elements

stu_data.pop("Batch")
print(stu_data)

{'Name': 'ABCD', 'Roll number': 257, 'branch': 'Mechanical', 'Year': 2025}

In [ ]:
#Problem statement 1 - A dictionary stores product names and their prices. Write a Python program to update the price of a given product
stationery = {
    "Pen": 15,
    "Pencil": 5,
    "Eraser": 5,
    "Scale" : 10,
    "Sharpener" : 5,
    "Notebook": 60,
    }
stationery["Notebook"] = 75
print("Updated stationery prices -",stationery)

Updated stationery prices - {'Pen': 15, 'Pencil': 5, 'Eraser': 5, 'Scale': 10, 'Sharpener': 5, 'Notebook': 75}

In [ ]:
#Problem statement 2 - A dictionary stores student names and marks. Write a python program to search for a student's marks using the name entered , If the student is not found - display a suitable message
students = {
   "A" : 90,
   "B" : 87,
   "C" : 76,
   "D" : 65,
   "E" : 54,
   "F" : 78,
}
name = input("Enter the name of the student - ")
if name in students:
  print("The marks of",name,"are",students[name])
else:
  print ("Student name not found")

Enter the name of the student - G
Student name not found

In [ ]:
#Problem statement 2 - using get function
students = {
   "A" : 90,
   "B" : 87,
   "C" : 76,
   "D" : 65,
   "E" : 54,
   "F" : 78,
}
name = input("Enter the name of the student - ")
print(students.get(name, "Student name not found"))

Enter the name of the student - Q
Student name not found

In [ ]:
#Problem statement 3 - A dictionary stores username and passwords. Write a python program to validate user login
users = {
    "Aditi" : 145423,
    "Lehalyaa" : 547537,
    "Goofy" : 385345,
    "Arya" : 673472,
}
username = input("Enter the username - ")
password = int(input("Enter the password - "))
if username in users and users[username]==password:
 print("Login Successful")
else:
  print("Invalid logion credentials - please check username or password")

Enter the username - Lehalyaa
Enter the password - 12345
Invalid logion credentials - please check username or password

In [ ]:
#Problem statement 4 - A dictionary stores student names and marks. Write a python program to find the student who scored the highest marks,
StudentMarks = {
    "Aditi" : 98,
    "Arya" : 7,
    "Tanvi": 8,
    "Sankalp" : 9,
}
highestmarks = max(StudentMarks, key=StudentMarks.get)
print("Student with the highest marks - ", highestmarks)
print("The highest marks are:", StudentMarks[highestmarks])

Student with the highest marks -  Aditi
The highest marks are: 98