Experiment 3: -Study of tupple in phyton

Aadit Joshi /  25070123173

In [ ]:
tpl1=(2,2.5,True,"Aadit")
print(tpl1)

(2, 2.5, True, 'Aadit')

In [ ]:
tpl2=("Apple", "orange","banana","Cherry")
print(tpl2[1])
print(tpl2[-3])

orange
orange

In [ ]:
tpl3=["apple","banana","orange"]
tpl3[1]="kiwi"
print(tpl3)

['apple', 'kiwi', 'orange']

In [ ]:
tpl4=("symbosis",)*5
print(tpl4)

('symbosis', 'symbosis', 'symbosis', 'symbosis', 'symbosis')

In [ ]:
tpl6=(1,2,3)
tpl7=(4,5)
tpl8=tpl6+tpl7
print(tpl8)

(1, 2, 3, 4, 5)

In [ ]:
tpl9=("Apple","banana","orange")
tpl10=("mango",)
tpl9 +=tpl10
print(tpl9)
print("after:",id(tpl9))

('Apple', 'banana', 'orange', 'mango')
after: 136020317803264

In [ ]:
marks=(28,76,52,92,45)
print(max(marks))
print(min(marks))
print(sum(marks))
print(len(marks))
print(sum(marks)/len(marks))
print(sorted(marks))

92
28
293
5
58.6
[28, 45, 52, 76, 92]

In [ ]:
student_result = ("Maths", 85, "A")


print("Subject:",subject)
print("Marks Obtained:",marks)
print("Grade: ",grade)

if marks > 75:
    print("The student has scored more than 75.")

Subject: Mathematics
Marks Obtained: 85
Grade:  A
The student has scored more than 75.

In [2]:
att=["P","A","P","A"]
print("Total Present Days:",att.count("P"))
print("Total Absent Days:",att.count("A"))
if "A" in att:
  print("Employee was absent atleast once")

Total Present Days: 2
Total Absent Days: 2
Employee was absent atleast once