#Aditi Mishra
#25070123175
#ENTC A2
##Experiment 2 - Basics of python

In [29]:
print("take me home")

take me home

#Second practice code

In [30]:
print('country roads')

country roads

In [31]:
a = 22
b = 49
print(a+b)

71

#13 jan practice code

In [32]:
a = "hello"
print(a)

hello

In [33]:
#Comments
#This is a comment
print("Hello,HI!")

Hello,HI!

In [34]:
#Many statements
print("hello"); print("how are you?"); print("nice to meet you!")

hello
how are you?
nice to meet you!

In [35]:
#Print numbers
a=5
print(a)
print(175)
print(300.160)

5
175
300.16

In [36]:
#Variables
x = 5
y = "Hello hi"
print(x)
print(y)

5
Hello hi

In [37]:
#Case sensitive code
a = 123
A = "Aditi"
print(A)
print(a)

Aditi
123

In [38]:
#Many values to multiple variables
x,y,z = "Cherry", "Harry","Banana"
print(x); print(y); print(z)

Cherry
Harry
Banana

In [39]:
#Basic Arithematic operations
a = 17
b = 87
print("Addition =", a+b)

Addition = 104

In [40]:
#Understanding data types
x = 15
y = 3.14
z = "Python"
A = True
C = 3+4j
print(type(x))
print(type(y))
print(type(z))
print(type(A))
print(type(C))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>

In [41]:
#Taking input from user
name = input("Enter your name: ")
age = int(input("Enter your age: "))
print("Name:", name)
print("Age:", age)

Enter your name: ABC
Enter your age: 22
Name: ABC
Age: 22

In [42]:
#Marks of 5 subjects:
s1 = int(input("Enter marks of subject 1: "))
s2 = int(input("Enter marks of subject 2: "))
s3 = int(input("Enter marks of subject 3: "))
s4 = int(input("Enter marks of subject 4: "))
s5 = int(input("Enter marks of subject 5: "))
total = s1+s2+s3+s4+s5
print("Total marks:", total)
print("Average marks:",total/5 )

Enter marks of subject 1: 20
Enter marks of subject 2: 30
Enter marks of subject 3: 40
Enter marks of subject 4: 30
Enter marks of subject 5: 40
Total marks: 160
Average marks: 32.0

In [43]:
#Find area of circle
r = float(input("Enter radius of circle: "))
area = 3.14*r*r
print("Area of given circle:", area)

Enter radius of circle: 100
Area of given circle: 31400.0

In [44]:
#Find area of rectangle
l = float(input("Enter length of rectangle: "))
b = float(input("Enter breadth of rectangle: "))
Area = l*b
print("Area of given rectangle:", Area)

Enter length of rectangle: 45.67
Enter breadth of rectangle: 160.75
Area of given rectangle: 7341.4525

In [45]:
#Perimeter of rectangle
l = float(input("Enter length of rectangle: "))
b = float(input("Enter breadth of rectangle: "))
Perimeter = 2*(l+b)
print("Perimeter of given rectangle:", Perimeter)

Enter length of rectangle: 132
Enter breadth of rectangle: 43
Perimeter of given rectangle: 350.0

In [46]:
#Simple Calculator
a=int(input("Enter first number: "))
b=int(input("Enter second number: "))
print("Addition:", a+b)
print("Subtraction:", a-b)
print("Multiplication:", a*b)
print("Division:", a/b)

Enter first number: 40
Enter second number: 32
Addition: 72
Subtraction: 8
Multiplication: 1280
Division: 1.25

In [47]:
#Python Booleans
print(10 > 5)
print(10 == 5)
print(10 < 5)

True
False
False